* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style-type: none;
}
body {
    margin-top: 3rem;
}
.dark {
    background-color: rgb(0, 0, 0, 0.8);
    padding: 2rem;
}

@media(max-width: 1100px){
    body{
        margin-top: 1.5rem;
    }
}
