.footer-1-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}
.footer-1-container .footer-1-option {
    display: flex;
    justify-content: space-around;
    width: 20rem;
    padding: 0.5rem;
}
.footer-1-option p {
    font-size: small;
    color: rgb(255, 255, 255);
}
.h-line {
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
}
@media(max-width: 1100px){
    .footer-1-container{
        flex-direction: column;
        padding: 1rem;
    }
    .footer-1-container .footer-1-option{
        padding: 0.5rem;
        justify-content:flex-start;
        gap: 1rem;
    }
    .footer-1-option div{
        max-width: 100%;
        margin-bottom: 0.5rem;

    }

}
