.hero-img{
    background-color: rgb(0, 0, 0, 0.8);
    width: 100%;
    max-height: fit-content;
    margin: 0 0 3rem 0;
    padding: 1rem 0;
}
.ad-fit{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.ad-fit img{
    width: 44vw;
    height: 30vw;
}
.ad-fit button{
    padding: 0.5rem 1rem;
    position: relative;
    top: -4rem;
    left: 1rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
}

@media (max-width:1100px){
    .ad-fit{
     flex-wrap: wrap;
    }

    .ad-fit img{
        width: 90vw;
        height: 70vw;
    }
}
