.nav-container {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;
    width: 90%;
    margin: auto;
}
#sandwi-icon{
    display: none;
}
.logo-img {
    width: 150px;
}

.catagory-container {
    background-color: #f7f7f7;
    width: 40%;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.catagory {
    width: 100%;
    border: none;
    background-color: #f7f7f7;
    cursor: pointer;
}
.search-bar {
    display: flex;
    justify-content: space-between;
    background-color: #e0e0e0;
    width: 70%;
    height: 40px;
    padding: 10px;
    border-left: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-bar input {
    background-color: #e0e0e0;
    border: none;
    outline: none;
}
.search-bar button {
    border: none;
    background-color: #e0e0e0;
    cursor: pointer;
    color: black;
}
.support {
    /* background-color: green; */
}
.support h5 {
    text-align: right;
    color: rgb(0, 0, 0, 0.5);
}
.profile {
    /* background-color: blue; */
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.profile a {
    font-size: 25px;
}
.profile a:nth-child(1) {
    font-size: 28px;
}
/* .options {
    display: none;
} */
.main-catagroy-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
hr {
    color: rgb(0, 0, 0, 0.3);
}
.nav2-container {
    width: 90%;
    margin: auto auto 0 auto;
    padding: 10px;
}
.sandwi-category button {
    background-color: #FAB528;
    border: none;
    width: 210px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.sandwi-category {
    margin-bottom: 0;
}
/* .nav2-container{
    background-color: blue;
} */
.nav2-group {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deals{
    width: 100%;
}
.deals a {
    margin-left: 15px;
}
.option {
    margin-top: 0;
    background-color: #f7f7f7;
    width: 16.5%;
    height: 300px;
    line-height: 35px;
    padding: 10px;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 166px;
}

.option li:hover {
    background-image: linear-gradient(-225deg, #b7f8db 0%, #50a7c2 100%);
    border-radius: 5px;
    padding-left: 10px;
}
.profile-toggle{
    width: 11rem;
    display: none;
 position: absolute;
 left: 81%;
 top: 6rem;
 background: linear-gradient(45deg, rgba(255, 255, 255), #ffffff);
 line-height: 1.7rem;
 padding: 1rem;
 border-radius: 0.5rem;
 box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5);
}

.profile-toggle a:hover{
    color: #FAB528;
}

#responsive-search-icon{
    display: none;
}


@media(max-width: 1100px){

    .main-catagroy-container{
     display: none;
    }
    .support{
     display: none;
    }
 .profile{
     display: none;
 }
    #responsive-search-icon{
     display: block;
     font-size: 1.6rem;
 }

 .nav-container{
     justify-content: space-between;
 }

 #sandwi-icon{
     display: block;
     font-size: 1.6rem;
 }
 .nav2-container{
    display: none;
 }

 .profile-toggle{
    display: none;
 }
 }
