.products-main-container{
    width: 90%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}
.products-hr{
    rotate: 90 deg;
}
.current-page-main-container{
    display: flex;
    align-items: center;
}
.current-page-container{
    width: 60%;
    margin: auto;
    font-size: 2rem;
    color: red;
}
.products-img-detail{
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 0.5rem;
}
